#wrapper {
    width: 70%;
    font-size: .9em;
    margin: 0 auto;
}

#authors {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}

#authors td, #authors th {
    border: 1px solid #ddd;
    padding: 8px;
}

#authors tr:nth-child(even){background-color: #f2f2f2;}

#authors tr:hover {background-color: #ddd;}

#authors th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}